<html>
    <head>
		<!-- style -->
		<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">	
		<!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="test/css" media="screen, projection">
		<!-- link rel="stylesheet" href="/css/blueprint/plugins/link-icons/screen.css" type="text/css" media="screen, projection" -->
		<link rel="stylesheet" href="/css/superfish.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/css/gather.css" type="text/css" media="screen, projection">

		<!-- function -->
		<script type="text/javascript" src="/js/jquery-1.3.2.js"/>
		<script type="text/javascript" src="/js/superfish.js"/>
		
		<script type="text/javascript">

		    $(document).ready(function(){ 
		        $("ul.sf-menu").superfish(); 
		    }); 

		</script>
    </head>
    <body>
        <div class="container">
            <div id="header" class="span-24 last">
				<ul id="main-menu" class="sf-menu">
					<li id="about" class="current">
						<a href="/index.html">About</a>
						<ul>
							<li class="current">
								<a href="/license.html">License</a>
							</li>
						</ul>
					</li>
                    <li id="develoepr">
                        <a href="/developer.html">Developer</a>
                        <ul>
                            <li id="gather-commons">
                                <a href="http://github.com/gatherdata/gather-commons">gather-commons</a>
                            </li>
                            <li id="gather-archiver">
                                <a href="http://github.com/gatherdata/gather-archiver">gather-archiver</a>
                            </li>
                            <li id="gather-data">
                                <a href="http://github.com/gatherdata/gather-data">gather-data</a>
                            </li>
                            <li id="gather-alert">
                                <a href="http://github.com/gatherdata/gather-alert">gather-alert</a>
                            </li>
                            <li id="gather-forms">
                                <a href="http://github.com/gatherdata/gather-forms">gather-forms</a>
                            </li>
                            <li id="gather-camel">
                                <a href="http://github.com/gatherdata/gather-camel">gather-camel</a>
                            </li>
                            <li id="gather-sling">
                                <a href="http://github.com/gatherdata/gather-sling">gather-sling</a>
                            </li>
                        </ul>
                    </li>
				</ul>
            </div>
            <div id="content" class="span-24 last">
                {{content}}
            </div>
            <div id="footer" class="span-24 last">
				<p>&copy; 2010 <a href="http://www.healthnet.org/gather">AED-SATELLIFE</a></p>
            </div>
        </div>
    </body>
</html>
