<html>
    <head>
		<!-- style -->
		<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">	
		<!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="test/css" media="screen, projection">
		<link rel="stylesheet" href="/css/blueprint/plugins/link-icons/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/css/superfish.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/css/gather.css" type="text/css" media="screen, projection">

		<!-- function -->
		<script type="text/javascript" src="/js/jquery-1.3.2.js"/>
		<script type="text/javascript" src="/js/superfish.js"/>
		
		<script type="text/javascript">

		    $(document).ready(function(){ 
		        $("ul.sf-menu").superfish(); 
		    }); 

		</script>
    </head>
    <body>
        <div class="container">
            <div id="header" class="span-24 last">
				<ul id="main-menu" class="sf-menu">
					<li class="current">
						<a href="/index.html">About</a>
						<ul>
							<li class="current">
								<a href="/license.html">License</a>
							</li>
						</ul>
					</li>
				</ul>
            </div>
            <div id="content" class="span-24 last">
                {{content}}
            </div>
            <div id="footer" class="span-24 last">
				<p>&copy; 2009 <a href="http://www.healthnet.org/gather">AED-SATELLIFE</a></p>
            </div>
        </div>
    </body>
</html>
